<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      ng-app="sevialApp">
<head>
    <title>SEVIAL | 2018</title>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Olimpia Management">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/icons/favicon.png">

    <!-- Styles -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>-->
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Dependencies' Styles -->
    <link href="node_modules/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet" />
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="node_modules/ui-select/dist/select.min.css" rel="stylesheet" />
    <!--<link href="assets/css/selectize.default.css" rel="stylesheet" />-->
    <link href="node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet" />

    <!-- Custom Styles -->
    <!--<link href="assets/css/creative.min.css" rel="stylesheet" />-->
    <link href="assets/css/admin4b.min.css" rel="stylesheet" />
    <!--<link href="assets/css/admin4b-highlight.min.css" rel="stylesheet" />-->
    <link href="assets/css/styles.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="common.commonController as cmnCtrl">
    <!-- Directives -->
    <div loading></div>
    <div growl></div>

    <!-- Loader before AngularJS -->
    <div id="loading" ng-if="!cmnCtrl.angularLoaded()">
        <!--<div class="loader">
            <img src="assets/img/svg-loaders/bars.svg" width="40" alt="">
        </div>-->
        <div id="spinner" class="spinner spinner-block">
            <div class="spinner-bar"></div>
            <div class="spinner-text">Cargando la plataforma...</div>
        </div>
    </div>

    <div class="app" ng-if="cmnCtrl.isLoggedIn()" ng-cloak>
        <div class="app-body">
            <div ng-include="'app/common/views/header.html'"
                 class="app-sidebar sidebar-dark sidebar-slide-left"></div>

            <!-- Views rendering div -->
            <div class="app-content">
                <nav class="navbar navbar-expand navbar-light bg-white">
                    <button type="button" class="btn btn-sidebar" data-toggle="sidebar">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="navbar-brand"><a ui-sref="home">{{cmnCtrl.appName}}</a></div>
                </nav>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" breadcrumbs>
                        <li class="breadcrumb-item"
                            ng-repeat="breadcrumb in breadcrumbs">
                            {{breadcrumb.text}}
                        </li>
                        <!--<li class="breadcrumb-item active" aria-current="page">Library</li>-->
                    </ol>
                </nav>
                <div ui-view></div>
            </div>
        </div>
    </div>

    <ui-view ng-if="!cmnCtrl.isLoggedIn()"></ui-view>

    <!-- JS Dependencies -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/admin4b.min.js"></script>

    <!-- AngularJS Dependencies -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_es.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="node_modules/angular-growl-v2/build/angular-growl.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="node_modules/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="node_modules/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="node_modules/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/ui-select/dist/select.js"></script>
    <script src="node_modules/angular-swal/index.js"></script>
    <script src="node_modules/angular-ui-router-breadcrumbs/dist/angular-ui-router-breadcrumbs.min.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/angular-moment/angular-moment.min.js"></script>

    <!-- AngularJS App-->
    <script src="app/app.js"></script>

    <!-- CommonModule -->
    <script src="app/common/commonModule.js"></script>
    <script src="app/common/controllers/commonController.js"></script>
    <script src="app/common/directives/loadingDirective.js"></script>
    <script src="app/common/routes/commonRoutes.js"></script>
    <script src="app/common/services/commonConstants.js"></script>
    <script src="app/common/services/commonService.js"></script>

    <!-- DashboardModule -->
    <script src="app/1_Dashboard/dashboardModule.js"></script>
    <script src="app/1_Dashboard/routes/dashboardRoutes.js"></script>
    <script src="app/1_Dashboard/controllers/dashboardController.js"></script>
    <script src="app/1_Dashboard/services/dashboardService.js"></script>

    <!-- PendingTransfersModule -->
    <script src="app/2_PendingTransfers/pendingTransfersModule.js"></script>
    <script src="app/2_PendingTransfers/routes/pendingTransfersRoutes.js"></script>
    <script src="app/2_PendingTransfers/controllers/pendingTransfersController.js"></script>
    <script src="app/2_PendingTransfers/controllers/pendingTransfers_InfoUploadController.js"></script>
    <script src="app/2_PendingTransfers/controllers/pendingTransfers_EditCollectionController.js"></script>
    <script src="app/2_PendingTransfers/services/pendingTransfersService.js"></script>

    <!-- RightToPetitionModule -->
    <script src="app/3_RightToPetition/rightToPetitionModule.js"></script>
    <script src="app/3_RightToPetition/routes/rightToPetitionRoutes.js"></script>
    <script src="app/3_RightToPetition/controllers/rightToPetitionController.js"></script>
    <script src="app/3_RightToPetition/services/rightToPetitionService.js"></script>

    <!-- CorrespondenceModule -->
    <script src="app/4_CorrespondenceControl/correspondenceControlModule.js"></script>
    <script src="app/4_CorrespondenceControl/routes/correspondenceControlRoutes.js"></script>
    <script src="app/4_CorrespondenceControl/controllers/correspondenceControlController.js"></script>
    <script src="app/4_CorrespondenceControl/services/correspondenceControlService.js"></script>

    <!-- PortfolioManagementModule -->
    <script src="app/5_PortfolioManagement/portfolioManagementModule.js"></script>
    <script src="app/5_PortfolioManagement/routes/portfolioManagementRoutes.js"></script>
    <script src="app/5_PortfolioManagement/controllers/portfolioManagementController.js"></script>
    <script src="app/5_PortfolioManagement/services/portfolioManagementService.js"></script>

    <!-- SysParametersModule -->
    <script src="app/6_SysParameters/sysParametersModule.js"></script>
    <script src="app/6_SysParameters/routes/sysParametersRoutes.js"></script>
    <script src="app/6_SysParameters/controllers/sysParametersController.js"></script>
    <script src="app/6_SysParameters/services/sysParametersService.js"></script>

    <!-- SecurityModule -->
    <script src="app/7_Security/securityModule.js"></script>
    <script src="app/7_Security/routes/securityRoutes.js"></script>
    <script src="app/7_Security/controllers/securityController.js"></script>
    <script src="app/7_Security/services/securityServices.js"></script>
    <script src="app/7_Security/services/sessionServices.js"></script>
    <script src="app/7_Security/interceptors/sessionInterceptor.js"></script>
</body>
</html>
