<div class="text-right">
    <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
        <span class="x"></span>
    </button>
</div>
<div class="sidebar-header">
    <img src="assets/img/user-photo.png" class="user-photo">
    <p class="username">
        {{cmnCtrl.username}}
        <small>{{cmnCtrl.role}}</small>
    </p>
</div>
<div id="sidebar-nav" class="sidebar-nav" data-children=".sidebar-nav-group">
    <!--<a class="sidebar-nav-link disabled"
       ng-if="!cmnCtrl.menu || cmnCtrl.menu.length == 0">
        <i class="icon-rocket"></i> Sin opciones
    </a>-->
    <div class="sidebar-nav-group"
         ng-repeat="m in cmnCtrl.menu">
        <a ng-if="!m.url" href="#menu{{m.id}}" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
            <i class="icon-puzzle"></i> {{m.name}}
        </a>
        <a ng-if="m.url" ui-sref="{{m.url}}" href="#menu{{m.id}}" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
            <i class="icon-puzzle"></i> {{m.name}}
        </a>
        <div id="menu{{m.id}}" class="sidebar-nav-group collapse">
            <a ui-sref="{{o.url}}" class="sidebar-nav-link"
               ng-repeat="o in m.options"><p>{{o.name}}</p></a>
        </div>
    </div>
</div>
<div class="sidebar-footer">
    <a href="#" data-toggle="tooltip" title="" data-original-title="Settings">
        <i class="fa fa-cog"></i>
    </a>
    <a href="#" data-toggle="tooltip" title="" data-original-title="Logout">
        <i class="fa fa-power-off"></i>
    </a>
    <div class="footprint">
        <p>{{cmnCtrl.copyright}}</p>
        <small>{{cmnCtrl.version}}</small>
    </div>
</div>