.watermark {
    font-size: 0.8em;
    font-family: Futura;
    font-weight: bold;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}

.dashboard {
    height: 100%;
    width: 100%;
}

.welcoming {
    font-size: 20px;
}

#dashboard .card-deck {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#dashboard .card {
    cursor: pointer;
}

#dashboard .card-img-top {
    max-width: 14vw;
    margin: auto;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99999;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer .footprint {
    color: #b9c9d8;
    position: absolute;
    bottom: 0;
    /* margin: auto 0; */
    width: 100%;
}

.app-sidebar .sidebar-footer .footprint {
    padding: .625rem 0;
    white-space: nowrap;
}

.app-sidebar .sidebar-footer .username small {
    display: block;
    padding-top: .25rem;
    filter: alpha(opacity=75);
    opacity: .75;
}

table {
    font-size: 0.75em;
}

.btn {
    border: 1px solid #ced4da;
}

.bg-primary {
    background-color: #34495e !important;
    color: #dae2ea !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #213244 !important;
    color: #dae2ea !important;
}

.bg-info {
    background-color: #5b8da56e !important;
}

.bg-danger {
    background-color: #dc354557 !important;
}

.bg-warning {
    background-color: #ffc10757 !important;
}

.bg-secondary {
    background-color: #6c757d57 !important;
}

.bg-success {
    background-color: #28a74557 !important;
}

.card .table {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

table td span.fa {
    margin-right: 10px;
    color: #5281b1;
}

table td span.fa:hover {
    color: #213244;
}

.module-content {
    margin-bottom: 3em;
}

hr {
    padding: 0 !important;
}


input[readonly] {
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #fff !important;
    box-shadow: none;
}