.watermark {
    font-size: 0.8em;
    font-family: Futura;
    font-weight: bold;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}

.dashboard {
    height: 100%;
    width: 100%;
}

.welcoming {
    font-size: 20px;
}

#dashboard .card-deck {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#dashboard .card {
    cursor: pointer;
}

#dashboard .card-img-top {
    max-width: 14vw;
    margin: auto;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff54;
    z-index: 99999;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer .footprint {
    color: #b9c9d8;
    position: absolute;
    bottom: 0;
    /* margin: auto 0; */
    width: 100%;
}

.app-sidebar .sidebar-footer .footprint {
    padding: .625rem 0;
    white-space: nowrap;
}

.app-sidebar .sidebar-footer .username small {
    display: block;
    padding-top: .25rem;
    filter: alpha(opacity=75);
    opacity: .75;
}

table {
    font-size: 0.75em;
}

.btn {
    border: 1px solid #ced4da;
}

.bg-primary {
    background-color: #34495e !important;
    color: #dae2ea !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #213244 !important;
    color: #dae2ea !important;
}

.bg-info {
    background-color: #5b8da56e !important;
}

.bg-danger {
    background-color: #dc354557 !important;
}

.bg-warning {
    background-color: #ffc10757 !important;
}

.bg-secondary {
    background-color: #6c757d57 !important;
}

.bg-success {
    background-color: #28a74557 !important;
}

.card .table {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

table td span.fa {
    margin-right: 10px;
    color: #5281b1;
}

table td span.fa:hover {
    color: #213244;
}

.module-content {
    margin-bottom: 3em;
}

hr {
    padding: 0 !important;
}

input[readonly] {
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #fff !important;
    box-shadow: none;
}

.img-brand{
    max-height: 35px;
}

/* Styles loader */

.loader {
    width: 100%;
    height: 4px;
    position: relative;
    overflow: hidden;
}

.big {
    height: 16px;
    margin: 8px 0 0 0;
}

.loader > div {
    position: absolute;
    height: 100%;
    left: 50%;
}

.green {
    background: #27ae60;
}

.red {
    background: #c0392b;
}

.blue {
    background: #2980b9;
}

.yellow {
    background: #f1c40f;
}

.sd0 {
    -webkit-animation: stretch 2.8s ease 0s infinite;
    -moz-animation: stretch 2.8s ease 0s infinite;
    -ms-animation: stretch 2.8s ease 0s infinite;
    -o-animation: stretch 2.8s ease 0s infinite;
    animation: stretch 2.8s ease 0s infinite;
}

.sd05 {
    -webkit-animation: stretch 2.8s ease .4s infinite;
    -moz-animation: stretch 2.8s ease .4s infinite;
    -ms-animation: stretch 2.8s ease .4s infinite;
    -o-animation: stretch 2.8s ease .4s infinite;
    animation: stretch 2.8s ease .4s infinite;
}

.sd1 {
    -webkit-animation: stretch 2.8s ease .8s infinite;
    -moz-animation: stretch 2.8s ease .8s infinite;
    -ms-animation: stretch 2.8s ease .8s infinite;
    -o-animation: stretch 2.8s ease .8s infinite;
    animation: stretch 2.8s ease .8s infinite;
}

.sd15 {
    -webkit-animation: stretch 2.8s ease 1.2s infinite;
    -moz-animation: stretch 2.8s ease 1.2s infinite;
    -ms-animation: stretch 2.8s ease 1.2s infinite;
    -o-animation: stretch 2.8s ease 1.2s infinite;
    animation: stretch 2.8s ease 1.2s infinite;
}

@keyframes

"stretch" {
    0%

{
    padding: 0 0 0 0;
    left: 50%;
    z-index: 4;
}

25% {
    z-index: 3;
}

50% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 2;
}

100% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 1;
}

}

@-moz-keyframes stretch {
    0% {
        padding: 0 0 0 0;
        left: 50%;
        z-index: 4;
    }

    25% {
        z-index: 3;
    }

    50% {
        padding: 0 50% 0 50%;
        left: 0;
        z-index: 2;
    }

    100% {
        padding: 0 50% 0 50%;
        left: 0;
        z-index: 1;
    }
}

@-webkit-keyframes

"stretch" {
    0%

{
    padding: 0 0 0 0;
    left: 50%;
    z-index: 4;
}

25% {
    z-index: 3;
}

50% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 2;
}

100% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 1;
}

}
@-ms-keyframes

"stretch" {
    0%

{
    padding: 0 0 0 0;
    left: 50%;
    z-index: 4;
}

25% {
    z-index: 3;
}

50% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 2;
}

100% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 1;
}

}
@-o-keyframes

"stretch" {
    0%

{
    padding: 0 0 0 0;
    left: 50%;
    z-index: 4;
}

25% {
    z-index: 3;
}

50% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 2;
}

100% {
    padding: 0 50% 0 50%;
    left: 0;
    z-index: 1;
}
}


.selectize-control.single .selectize-input {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: none;
    background-image: none;
    background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: none;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    /* Estilos tipo Bootstrap 4 */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .selectize-control.single .selectize-input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

.selectize-focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.uib-datepicker .btn{
    border: 1px solid #ffffff00;
    background-color: #e5e6e673;
}

.card-with-list-cities {
    max-height: 30vh;
    overflow: auto;
}

.pointer{
    cursor: pointer;
}