.watermark {
    font-size: 0.8em;
    font-family: Futura;
    font-weight: bold;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}

.dashboard {
    height: 100%;
    width: 100%;
}

.welcoming {
    font-size: 20px;
}

#dashboard .card-deck {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#dashboard .card {
    cursor: pointer;
}

#dashboard .card-img-top {
    max-width: 14vw;
    margin: auto;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99999;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer .footprint {
    color: #b9c9d8;
    position: absolute;
    bottom: 0;
    /* margin: auto 0; */
    width: 100%;
}

.app-sidebar .sidebar-footer .footprint {
    padding: .625rem 0;
    white-space: nowrap;
}

.app-sidebar .sidebar-footer .username small {
    display: block;
    padding-top: .25rem;
    filter: alpha(opacity=75);
    opacity: .75;
}