<section id="portfolioManagement" class="portfolioManagement">
    <div class="card">
        <div class="card-header bg-primary">Proceso de cálculo de transferencias pendientes</div>
        <div class="card-body">
            <div class="form-group row">
                <div class="form-group col-6">
                    <label>Fecha corte anterior:</label>
                    <small class="input-group">
                        {{CalcCtrl.getCutDate()}}
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-6">
                    <label>Fecha corte a procesar:</label>
                    <p class="input-group">
                        <input type="text"
                               class="form-control form-control-sm cursor-pointer"
                               uib-datepicker-popup="{{format}}"
                               ng-click="CalcCtrl.openCal(2)"
                               ng-model="CalcCtrl.process.fechaProceso"
                               is-open="CalcCtrl.popup[2]"
                               datepicker-options="CalcCtrl.dateOptions"
                               ng-required="true"
                               alt-input-formats="altInputFormats"
                               current-text="Hoy"
                               clear-text="Borrar"
                               close-text="Cerrar"
                               readonly />
                        <span class="input-group-append">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="CalcCtrl.openCal(2)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-6">
                    <label>Estado del proceso: <small><i>({{CalcCtrl.process.nomEstadoProceso}})</i></small></label>
                    <p>
                        <uib-progressbar max="100" value="CalcCtrl.process.porcProceso">
                            <span style="color:white; white-space:nowrap;">{{CalcCtrl.process.porcProceso}} / {{100}}</span>
                        </uib-progressbar>
                    </p>
                    <div class="btn btn-info" ng-click="CalcCtrl.getPercentage()">Actualizar <span class="fa fa-refresh"></span></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-2">
                    <label>Condición proceso:</label>
                </div>
                <div class="form-group col-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" 
                                   class="form-check-input" 
                                   name="optradio" 
                                   value="H" 
                                   ng-model="CalcCtrl.process.condicionProceso">Con datos históricos
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" 
                                   class="form-check-input" 
                                   name="optradio" 
                                   value="A" 
                                   ng-model="CalcCtrl.process.condicionProceso">Con datos actualizados
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="btn btn-success" ng-click="CalcCtrl.submitCalc()">Procesar</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="table-responsive col-10">
                <table class="table">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Recaudo diario</th>
                            <th>Recaudo no diario</th>
                        </tr>
                        <tr>
                            <th>
                                Fecha de recaudo
                            </th>
                            <td>
                                {{CalcCtrl.general.fechaRecaudoPagoDiario}}
                            </td>
                            <td>
                                {{CalcCtrl.general.fechaRecaudoPagoNoDiario}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Fecha de transferencia
                            </th>
                            <td>
                                {{CalcCtrl.general.fechaTransferenciaPagoDiario}}
                            </td>
                            <td>
                                {{CalcCtrl.general.fechaTransferenciaPagoNoDiario}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>