<section id="portfolioManagement" class="portfolioManagement">
    <div class="card">
        <div class="card-header bg-primary">Detalle de entrega de cartera</div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-3">Filtro</div>
                <div class="col-md-7">
                    <input class="form-control"
                           ng-model="TrDCtrl.filtro"
                           ng-change="TrDCtrl.getListPortfolio()"/>
                    <small>Escribir criterios separados por comas (,)</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="table-responsive col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Municipio</th>
                            <th>Fecha inicial</th>
                            <th>Fecha final</th>
                            <th>Estado</th>
                            <th>Observación</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in TrDCtrl.portfolio">
                            <td>{{$index+1}}</td>
                            <td>{{item.nomMunicipio}}</td>
                            <td>{{item.A052_fechaInicial}}</td>
                            <td>{{item.A052_fechaFinal}}</td>
                            <td>{{item.A052_estadoRegistro}}</td>
                            <td>{{item.A052_observacion}}</td>
                            <td>
                                <span class="fa fa-edit pointer"
                                      data-toggle="modal"
                                      data-target="#editTransfer"
                                      ng-click="TrDCtrl.prepareEdit(item)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="editTransfer" class="modal bd-example-modal-lg fade show" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" name="TrDCtrl.transferForm" novalidate ng-submit="TrDCtrl.updatePortfolio()">
            <div class="modal-header">
                <h5 class="modal-title" id="gridModalLabel">Editar entrega cartera DITRA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid bd-example-row">
                    <div class="form-group row">
                        <div class="col-md-4">Municipio</div>
                        <div class="col-md-4"><p>{{TrDCtrl.edit.nomMunicipio}}</p></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">Fecha inicial</div><div class="col-md-4">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control form-control-sm cursor-pointer"
                                       uib-datepicker-popup="{{format}}"
                                       ng-click="TrDCtrl.openCal(1)"
                                       ng-model="TrDCtrl.edit.A052_fechaInicial"
                                       is-open="TrDCtrl.popup[1]"
                                       datepicker-options="TrDCtrl.dateOptions"
                                       ng-required="true"
                                       alt-input-formats="altInputFormats"
                                       current-text="Hoy"
                                       clear-text="Borrar"
                                       close-text="Cerrar"
                                       name="iniDate"
                                       required />
                                <span class="input-group-append">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="TrDCtrl.openCal(1)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                <div ng-show="TrDCtrl.transferForm.$submitted || TrDCtrl.transferForm.iniDate.$touched">
                                    <span class="error-message" ng-show="TrDCtrl.transferForm.iniDate.$error.required">Este es un campo requerido</span>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">Fecha final</div><div class="col-md-4">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control form-control-sm cursor-pointer"
                                       uib-datepicker-popup="{{format}}"
                                       ng-click="TrDCtrl.openCal(2)"
                                       ng-model="TrDCtrl.edit.A052_fechaFinal"
                                       is-open="TrDCtrl.popup[2]"
                                       datepicker-options="TrDCtrl.dateOptions"
                                       ng-required="true"
                                       alt-input-formats="altInputFormats"
                                       current-text="Hoy"
                                       clear-text="Borrar"
                                       close-text="Cerrar"
                                       name="finDate"
                                       required />
                                <span class="input-group-append">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="TrDCtrl.openCal(2)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                <div ng-show="TransCtrl.transferForm.$submitted || TransCtrl.transferForm.finDate.$touched">
                                    <span class="error-message" ng-show="TransCtrl.transferForm.finDate.$error.required">Este es un campo requerido</span>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">Estado</div>
                        <div class="col-md-4">
                            <input type="checkbox"
                                   name="estado"
                                   ng-model="TrDCtrl.edit.A052_estadoRegistro"
                                   ng-true-value="'A'"
                                   ng-false-value="'I'" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">Observación</div>
                        <div class="col-md-4">
                            <textarea class="form-control" ng-model="TrDCtrl.edit.A052_observacion"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>
        </form>
    </div>
</div>